:root {
    --app-color: #a215b4;
}


body {
    background-color: #f2f2f2;
    /* height: 96.6vh; */
    display: flex;
    justify-content: center;
}

body * {
    padding: 0;
    margin: 0;
}

.page {
    width: 60%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
    /* height: 100%; */
}

/* body::-webkit-scrollbar {
    display: none;
} */

.page>div {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid; */
    padding: 10px 10px;
    margin: 4px 5px;
    box-shadow: 0px 0px 3px 0px #00000082;
    border-radius: 9px;
    align-items: center;
}

button {
    padding: 5px 12px;
    text-transform: capitalize;
    box-shadow: 2px 3px 4px 0px #000000a1;
    border-color: red;
    border-radius: 10px;
    cursor: pointer;
}

input {
    padding: 7px 10px;
    border-radius: 13px;
    box-shadow: inset 0px 0px 3px 0px #000;
    border-color: red;
    font-size: 17px;
}

input:focus {
    outline: none;
}

img {
    width: 21px;
}

div #reloadBtn,
div #copyBtn {
    margin-right: 33px;
}

#deleteButton {
    color: red;
}

.margin {
    margin-left: 51px;
}

/* autocomplete-items */
.input-section {
    position: relative;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: fit-content;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}

.autocomplete {
    /* width:500px; */
    width: 50vw;
}

.autocomplete img {
    width: 30px;
    position: absolute;
    right: 8px;
    top: 6px;
    cursor: pointer;
}



/* profiling */
.profile-section {
    display: block !important;
}

.profile-section form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
}

.profile-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #00000021;
}
.profile-item:hover {
    background-color: #e0e3e5;
}


/* Dropdown Button */
.dropbtn {
    background-color: #e0e3e5;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 1px solid;
    border-radius: 10px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
    background-color: #e0e3e5;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    width: 50%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: block;
}